name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2

    - name: Cache Node Modules
      uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Setup SSH key for dom-mutator
      uses: ./.github/workflows/setup-ssh.yml
      with:
        deploy_key: ${{ secrets.DOM_MUTATOR_ACCESS_KEY }}

    - name: Install
      run: yarn install --frozen-lockfile

    - name: Lint
      run: yarn lint
