name: Release

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Do a dry run to preview instead of a real release'
        required: true
        default: 'true'

jobs:
  authorize:
    name: Authorize
    runs-on: ubuntu-latest
    steps:
      - name: ${{ github.actor }} permission check
        uses: 'lannonbr/repo-permission-check-action@2.0.2'
        with:
          permission: 'write'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    needs: [authorize]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Needed for lerna version to determine last tag
      - name: Fetch
        run: git fetch --prune --unshallow --tags

      - name: Cache Node Modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Set up SSH for deploy key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DOM_MUTATOR_ACCESS_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
        continue-on-error: true # forked repos don't have access, and this is only for experiment-tag
        shell: bash

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build
        run: npx lerna exec yarn

      - name: Test
        run: yarn test

      - name: Configure Git User
        run: |
          git config --global user.name amplitude-sdk-bot
          git config --global user.email amplitude-sdk-bot@users.noreply.github.com

      - name: Release (Dry Run)
        if: ${{ github.event.inputs.dryRun == 'true'}}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn lerna version --no-push --no-git-tag-version --loglevel silly --yes

      - name: Release
        if: ${{ github.event.inputs.dryRun == 'false'}}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
        run: |
          yarn lerna version --yes
          yarn lerna publish from-git --yes --loglevel silly

      # Check if experiment-tag was updated
      - name: Check if experiment-tag was updated
        id: check-experiment-tag
        if: ${{ github.event.inputs.dryRun == 'false'}}
        run: |
          UPDATED_PACKAGES=$(git diff --name-only HEAD~1 HEAD | grep "packages/experiment-tag/" || true)
          if [ -n "$UPDATED_PACKAGES" ]; then
            echo "UPLOAD_PACKAGES=${UPLOAD_PACKAGES:+$UPLOAD_PACKAGES,}tag" >> $GITHUB_ENV
          fi

      # Check if experiment-plugin-segment was updated
      - name: Check if experiment-plugin-segment was updated
        id: check-experiment-plugin
        if: ${{ github.event.inputs.dryRun == 'false'}}
        run: |
          UPDATED_PACKAGES=$(git diff --name-only HEAD~1 HEAD | grep "packages/plugin-segment/" || true)
          if [ -n "$UPDATED_PACKAGES" ]; then
            echo "UPLOAD_PACKAGES=${UPLOAD_PACKAGES:+$UPLOAD_PACKAGES,}segment-plugin" >> $GITHUB_ENV
          fi

      # Check if experiment-browser was updated
      - name: Check if experiment-browser was updated
        id: check-experiment-browser
        if: ${{ github.event.inputs.dryRun == 'false'}}
        run: |
          UPDATED_PACKAGES=$(git diff --name-only HEAD~1 HEAD | grep "packages/experiment-browser/" || true)
          if [ -n "$UPDATED_PACKAGES" ]; then
            echo "UPLOAD_PACKAGES=${UPLOAD_PACKAGES:+$UPLOAD_PACKAGES,}browser" >> $GITHUB_ENV
          fi

      - name: Install AWS SDK dependencies
        run: cd scripts && yarn install

      # Configure AWS credentials for S3 upload
      - name: Configure AWS Credentials
        if: ${{ github.event.inputs.dryRun == 'false' && env.UPLOAD_PACKAGES != '' }}
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-west-2

      # Upload experiment packages to S3 after version and docs are updated
      - name: Upload experiment packages to S3
        if: ${{ github.event.inputs.dryRun == 'false' && env.UPLOAD_PACKAGES != '' }}
        env:
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          PACKAGES: ${{ env.UPLOAD_PACKAGES }}
        run: node scripts/upload-to-s3.js
